.settings-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.settings-section {
    margin-bottom: 20px;
}

    .settings-section h3 {
        margin-bottom: 10px;
    }

.settings-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

input[type="range"] {
    width: 100%;
}
